@charset "utf-8";

@import "flexbox.css";

.master{
    border: 1px solid red;
    min-height: 2500px;
    padding: 2%;
}

section{
    border: 1px solid red;
    margin: 0% auto;
    position: relative;
   

}

.slider{
    aspect-ratio: 8/2.25;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider>img{
    flex: 1 0 100%;
    object-fit: contain;
    scroll-snap-align: center;
}

@keyframes animation1{
    0%{background-color: rgb(11, 150, 243);  transform: rotate(360deg) scale(1); left: 2%; border-radius: 3%;}
    25%{background-color: rgb(0, 20, 201);  transform: rotate(-360deg) scale(1.8); left: 41.9%; border-radius: 100%;}
    50%{background-color: rgb(166, 0, 207);  transform: rotate(360deg) scale(1); left: 85%; border-radius: 3%;}
    51%{background-color: rgb(166, 0, 207);  transform: rotate(360deg) scale(1); left: 85%; border-radius: 3%;}
    75%{background-color: rgb(0, 20, 201);  transform: rotate(-360deg) scale(1.8); left: 41.9%; border-radius: 100%;}
    100%{background-color: rgb(11, 150, 243);  transform: rotate(360deg) scale(1); left: 2%; border-radius: 3%;}


}

@keyframes animation2{
    0%{background-color: rgb(11, 150, 243); transform: rotate(720deg); border-radius: 100%;}
    30%{background-color: rgb(11, 243, 243); transform: rotate(720deg); border-radius: 5%;}
    70%{background-color: rgb(11, 243, 231); transform: rotate(720deg); border-radius: 5%;}
    100%{background-color: rgb(11, 158, 243); transform: rotate(720deg); border-radius: 100%;}

}

.continer{
    height: 500px;
    border: 1px solid red;
    padding-left: 2%;
    padding-right: 2%;
}

.container>div{
    width: 200px;
    height: 200px;
    background-color: rgb(11, 150, 243);
    animation-name: animation1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    position: relative;
    left: 2%;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.container div>div{
    animation-name: animation2;
    background-color: greenyellow;
    rotate: 45deg;
    width: 50px;
    height: 50px;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}


